# Importing existing data

In [119]:
!refit_init

Refit Installed, You can now run the following to import REFIT
from refit import Refit

In [120]:
from refit import Refit
import pandas as pd
import datetime
from random import randrange

In [121]:
project_guid = "e2b6e5b3-cab6-47cc-a753-e655d3ac8ef0"
refit = Refit(project_guid)

In [122]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import matplotlib.pyplot as plt
import numpy as np

In [123]:
features = pd.read_csv("features.csv")

In [124]:
features

,month_TA1305000030,week_TA1305000030,day_TA1305000030,hour_TA1305000030,month_TA1306000010,week_TA1306000010,day_TA1306000010,hour_TA1306000010,month_TA1307000120,week_TA1307000120,day_TA1307000120,hour_TA1307000120,month_TA1307000126,week_TA1307000126,day_TA1307000126,hour_TA1307000126,y
0,9,0,6,0,0,0,0,0,0,0,0,0,0,0,0,0,2
1,9,0,6,1,0,0,0,0,0,0,0,0,0,0,0,0,1
2,9,0,6,7,0,0,0,0,0,0,0,0,0,0,0,0,1
3,9,0,6,9,0,0,0,0,0,0,0,0,0,0,0,0,4
4,9,0,6,10,0,0,0,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,0,0,0,0,0,0,0,0,0,0,0,0,9,6,26,18,7
2039,0,0,0,0,0,0,0,0,0,0,0,0,9,6,26,19,4
2040,0,0,0,0,0,0,0,0,0,0,0,0,9,6,26,20,5
2041,0,0,0,0,0,0,0,0,0,0,0,0,9,6,26,21,1
2042,0,0,0,0,0,0,0,0,0,0,0,0,9,6,26,22,3

In [125]:
n = len(features)
idx = [x for x in range(n)]

start = datetime.datetime.now() +  datetime.timedelta(0,n * -1)

static_data = {'Auto-Increment': idx, 
                   'DeviceID': [ 'divvy_station' for x in idx ] , 
                   'Timestamp': [ start + datetime.timedelta(0, x*3600) for x in idx ]
                  }
df = pd.DataFrame(data = static_data)
df = pd.concat([df, features], axis=1)
df.drop(df.columns[len(df.columns)-1], axis=1, inplace=True)
df

,Auto-Increment,DeviceID,Timestamp,month_TA1305000030,week_TA1305000030,day_TA1305000030,hour_TA1305000030,month_TA1306000010,week_TA1306000010,day_TA1306000010,hour_TA1306000010,month_TA1307000120,week_TA1307000120,day_TA1307000120,hour_TA1307000120,month_TA1307000126,week_TA1307000126,day_TA1307000126,hour_TA1307000126
0,0,divvy_station,2022-11-08 19:15:19.763911,9,0,6,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,divvy_station,2022-11-08 20:15:19.763911,9,0,6,1,0,0,0,0,0,0,0,0,0,0,0,0
2,2,divvy_station,2022-11-08 21:15:19.763911,9,0,6,7,0,0,0,0,0,0,0,0,0,0,0,0
3,3,divvy_station,2022-11-08 22:15:19.763911,9,0,6,9,0,0,0,0,0,0,0,0,0,0,0,0
4,4,divvy_station,2022-11-08 23:15:19.763911,9,0,6,10,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,2038,divvy_station,2023-02-01 17:15:19.763911,0,0,0,0,0,0,0,0,0,0,0,0,9,6,26,18
2039,2039,divvy_station,2023-02-01 18:15:19.763911,0,0,0,0,0,0,0,0,0,0,0,0,9,6,26,19
2040,2040,divvy_station,2023-02-01 19:15:19.763911,0,0,0,0,0,0,0,0,0,0,0,0,9,6,26,20
2041,2041,divvy_station,2023-02-01 20:15:19.763911,0,0,0,0,0,0,0,0,0,0,0,0,9,6,26,21
2042,2042,divvy_station,2023-02-01 21:15:19.763911,0,0,0,0,0,0,0,0,0,0,0,0,9,6,26,22

In [145]:
start

datetime.datetime(2022, 11, 8, 19, 20, 13, 739461)

In [146]:
from csv import reader
count = 10
with open('stream_data_sorted.csv', 'r') as read_obj:
    csv_reader = reader(read_obj)
    is_header = True
    # Iterate over each row in the csv using reader object
    for row in csv_reader:
        if not is_header and count:
            data = ",".join(row)
            #print(data)
            refit.stream_data(data)
            count -= 1
        else:
            is_header = False

In [147]:
refit.import_data(df)

'"Import queued"'